@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;900&display=swap");
/* Font taken from here: https://fonts.google.com/specimen/Archivo?query=Omnibus-Type&preview.text=Almost%20before%20.%20we%20knew%20it,%20we%20had%20left%20the%20ground.&preview.text_type=custom#standard-styles */

:root {
  --blue1: #1551d8;
}

body {
  font-family: "Archivo", sans-serif !important;
}

h1 {
  color: var(--blue1);
}
