@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;900&display=swap");
/* Font taken from here: https://fonts.google.com/specimen/Archivo?query=Omnibus-Type&preview.text=Almost%20before%20.%20we%20knew%20it,%20we%20had%20left%20the%20ground.&preview.text_type=custom#standard-styles */

:root {
  --blue1: #1551d8;
}

body {
  font-family: "Archivo", sans-serif !important;
}

h1 {
  color: var(--blue1);
  font-size: 4rem !important;
  font-weight: 900 !important;
  letter-spacing: 3px;
}

.text-big {
  font-size: 2.3rem;
}

.text-medium {
  font-size: 1.3rem;
}

.text-small {
  font-size: 0.8rem;
}

.nav {
  color: var(--blue1);
  font-size: 1.3rem;
}

.myNav-link:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.myNav-link > a {
  color: var(--blue1);
  text-decoration: none !important;
}

.h2-nolink {
  color: var(--blue1);
}

.h2-nolink:hover {
  cursor: pointer;
}

.footer {
  color: var(--blue1);
  font-size: 1.2rem;
}

.big-number {
  font-size: 5rem;
  color: var(--blue1);
}

h2 > sup {
  font-size: 1rem;
}

h3 {
  color: var(--blue1);
  font-size: 1.35rem !important;
}

.img-heroProject-container {
  max-width: 600px;
}
